Linkedin Automation Workflow.json.json
{
  "name": "My workflow 14018",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1xxJHAELx9TYYV10Eeq4TnqlNPP6PTpoJEySLk8Pp7SE",
          "mode": "list",
          "cachedResultName": "Social Media Workflow",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xxJHAELx9TYYV10Eeq4TnqlNPP6PTpoJEySLk8Pp7SE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xxJHAELx9TYYV10Eeq4TnqlNPP6PTpoJEySLk8Pp7SE/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -624,
        -128
      ],
      "id": "7c513e52-d736-4089-a211-15b3ccd02a0d",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "2m30Y0dUNhAr9wPb",
          "name": "Google Sheets Trigger account 2631"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=System: \"You are a social media strategist with expertise in content adaptation\"\n\n  User: \"Analyze this article and create a summary that:\n  1. Captures the 3 most important insights\n  2. Includes any actionable advice or tips\n  3. Maintains the original tone and perspective\n  4. Highlights implications for the target audience\n  5. Stays under 100 words for social media {{ $json.newslinks }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.8,
      "position": [
        -400,
        -128
      ],
      "id": "9aa9263e-6929-48d3-b152-5eddafb3d15f",
      "name": "Summarize Articles"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -400,
        48
      ],
      "id": "508ad68e-33dd-4e14-9e30-b6665c195e37",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "OfXITS3lMn7nveEH",
          "name": "Google Gemini(PaLM) Api account 6602"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Assume the role of an industry expert \nand draft a LinkedIn post discussing \nkey points from a news article \nrelevant to artificial intelligence. \nThe post should provide insightful \nanalysis, connect with current \nindustry trends, and encourage \nprofessional engagement or discussion. Highlight any notable implications for the industry. Since LinkedIn supports \ndetailed posts, ensure it is \ninformative and structured. Include a \nprofessional call to action.Stay under 200 words. Here's a \nsummary: {{ $json.text }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.8,
      "position": [
        -32,
        -128
      ],
      "id": "a16794d7-1685-4267-b399-6d7c26d3a9b8",
      "name": "Generate LinkedIn Post Content"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -32,
        48
      ],
      "id": "7d8471fa-3088-4b8b-b259-32f679d8f643",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "OfXITS3lMn7nveEH",
          "name": "Google Gemini(PaLM) Api account 6602"
        }
      }
    },
    {
      "parameters": {
        "person": "Mg1wMt9Mhe",
        "text": "={{ $json.text }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        352,
        -128
      ],
      "id": "7d6c868f-fea7-477a-afb1-b439c9d2e312",
      "name": "Create a post",
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "ObYC0wS8Jvf20DAh",
          "name": "LinkedIn account 1867"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -32,
        320
      ],
      "id": "bb1ff9b0-d547-4ba4-8753-6b9d4c75c42e",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "OfXITS3lMn7nveEH",
          "name": "Google Gemini(PaLM) Api account 6602"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "Summarize Articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Summarize Articles",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Summarize Articles": {
      "main": [
        [
          {
            "node": "Generate LinkedIn Post Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Generate LinkedIn Post Content",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Generate LinkedIn Post Content": {
      "main": [
        [
          {
            "node": "Create a post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a post": {
      "main": [
        []
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d324b642-6c19-41e4-aa38-0b684ddb97ea",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "969257b09ad2942bbaff2e2288304f4969030574d109cdeca05bf11f630884df"
  },
  "id": "94voFCMv1xetNQOW",
  "tags": []
}